<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onCancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="onSave()">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1 class="text-center mb-6">Routine</h1>

  <div class="px-20 mb-6">
    <ion-segment [scrollable]="true" [(ngModel)]="day_night_select">
      <ion-segment-button value="day">
        <ion-icon
          *ngIf="day_night_select == 'day'"
          color="primary"
          name="sunny-outline"
        ></ion-icon>
        <ion-icon
          *ngIf="day_night_select == 'night'"
          color="light"
          name="sunny-outline"
        ></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="night">
        <ion-icon
          *ngIf="day_night_select == 'day'"
          color="light"
          name="moon-outline"
        ></ion-icon>
        <ion-icon
          *ngIf="day_night_select == 'night'"
          color="primary"
          name="moon-outline"
        ></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </div>

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="auto"><span>Remind me at</span></ion-col>
      <ion-col size="auto"
        ><ion-datetime-button datetime="datetime"></ion-datetime-button
      ></ion-col>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="datetime" presentation="time"></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-row>
  </ion-grid>

  <h4 class="text-center mb-1">Frequency</h4>

  <ion-grid>
    <ion-row>
      <ion-col><ion-button size="small">S</ion-button></ion-col>
      <ion-col><ion-button size="small">M</ion-button></ion-col>
      <ion-col><ion-button size="small">T</ion-button></ion-col>
      <ion-col><ion-button size="small">W</ion-button></ion-col>
      <ion-col><ion-button size="small">T</ion-button></ion-col>
      <ion-col><ion-button size="small">F</ion-button></ion-col>
      <ion-col><ion-button size="small">S</ion-button></ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="day_night_select == 'day'">
    <ion-item *ngFor="let routine of day_routines; index as i;">
      <ion-icon
        class="text-primary-default bigger"
        name="remove-circle-outline"
        slot="start"
        (click)="deleteRoutine(i)"
      ></ion-icon>
      <ion-input
        placeholder="Enter routine"
        [(ngModel)]="routine.label"
      ></ion-input>
    </ion-item>
  </div>

  <div *ngIf="day_night_select == 'night'">
    <ion-item *ngFor="let routine of night_routines; index as i;">
      <ion-icon
        class="text-primary-default bigger"
        name="remove-circle-outline"
        slot="start"
        (click)="deleteRoutine(i)"
      ></ion-icon>
      <ion-input
        placeholder="Enter routine"
        [(ngModel)]="routine.label"
      ></ion-input>
    </ion-item>
  </div>

  <ion-item>
    <ion-icon
      class="text-primary-default"
      name="add-circle-outline"
      slot="start"
      (click)="addRoutine()"
    ></ion-icon>
    <ion-label>Add new self care activity</ion-label>
  </ion-item>

  <h4 class="text-center text-primary-default pt-8">My Self Care Goal</h4>
  <ion-textarea
    label="Outline textarea"
    labelPlacement="floating"
    fill="outline"
    placeholder="Enter your self care goal to stay motivated"
    [clearOnEdit]="true"
    [autoGrow]="true"
    [(ngModel)]="routine_goal"
  ></ion-textarea>
</ion-content>
