<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onCancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="onSave()">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-segment [scrollable]="true" [(ngModel)]="day_night_select">
  <ion-segment-button value="day">
    <ion-icon name="sunny-outline"></ion-icon>
  </ion-segment-button>
  <ion-segment-button value="night">
    <ion-icon name="moon-outline"></ion-icon>
  </ion-segment-button>
</ion-segment>

Remind me at
<ion-datetime presentation="time"></ion-datetime>

<p>
  Frequency
</p>
<ion-grid>
  <ion-row>
    <ion-col>S</ion-col>
    <ion-col>M</ion-col>
    <ion-col>T</ion-col>
    <ion-col>W</ion-col>
    <ion-col>Th</ion-col>
    <ion-col>F</ion-col>
    <ion-col>Sa</ion-col>
  </ion-row>
</ion-grid>

<div *ngIf="day_night_select == 'day'">
  <ion-item *ngFor="let routine of day_routines; index as i;">
    <ion-icon name="remove-circle-outline" slot="start" (click)="deleteRoutine(i)"></ion-icon>
    <ion-input placeholder="Enter routine" [(ngModel)]="routine.singleton"></ion-input>
  </ion-item>
</div>

<div *ngIf="day_night_select == 'night'">
  <ion-item *ngFor="let routine of night_routines; index as i;">
    <ion-icon name="remove-circle-outline" slot="start" (click)="deleteRoutine(i)"></ion-icon>
    <ion-input placeholder="Enter routine" [(ngModel)]="routine.singleton"></ion-input>
  </ion-item>
</div>

<ion-item>
  <ion-icon name="add-circle-outline" slot="start" (click)="addRoutine()"></ion-icon>
  <ion-label>Add new self care activity</ion-label>
</ion-item>

<p>
  My self care goals
</p>
<ion-textarea
  placeholder="Enter your Self Care Goals here to motivate yourself."
  [clearOnEdit]="true"
  [(ngModel)]="routine_goal"
></ion-textarea>
