<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button id="open-modal">Edit</ion-button>
    </ion-buttons>
    <ion-title>Note: edit button</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text color="#342D2B">
    <h1>
      <p class="text-3xl text-center font-bold ">Routine</p>
      <div class="pb-4"></div>
    </h1>

    <p class="text-center text-base font-normal pb-4">
      Care for yourself consistently and earn rewards by following a routine and
      goal. View your progress in Journey.
    </p>
  </ion-text>

  <ion-segment [scrollable]="true" [(ngModel)]="day_night_select">
    <ion-segment-button value="day" (click)="onClickDay()">
      <ion-icon name="sunny-outline"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="night" (click)="onClickNight()">
      <ion-icon name="moon-outline"></ion-icon>
    </ion-segment-button>
  </ion-segment>

  <ion-text color="#342D2B">
    <h5>
      <p class="text-center font-semibold text-base">
      Remind me at 07:00 AM
    </p>
      <hr />
      <p class="text-center font-semibold text-base">
      Daily
    </p>
    </h5>
  </ion-text>

  <div *ngIf="day_night_select == 'night'">
    <ion-item *ngFor="let routine of this.data.night_routines" lines="none">
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>{{ routine }}</ion-label>
    </ion-item>
  </div>

  <div *ngIf="day_night_select == 'day'">
    <ion-item *ngFor="let routine of this.data.day_routines" lines="none">
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>{{ routine }}</ion-label>
    </ion-item>
  </div>

  <ion-text color="#B7472A">
    <h5>My Self Care Goal</h5>
  </ion-text>

  {{data.routine_goal}}

</ion-content>

<ion-modal trigger="open-modal">
  <ng-template>
    <app-routine-edit
    [data]="data"
    (cancelChanges)="onCancel()"
    (saveChanges)="onSave($event)"
    ></app-routine-edit>
  </ng-template>
</ion-modal>
