<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Set Up Mini Me
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Set Up Mini Me</ion-title>
      
    </ion-toolbar>
       <p>
         Shall we create a Mini Me to cheer for you and others in your self-care journey?
       </p>
  </ion-header>

  <ion-button>Yes! Let's do it</ion-button>

</ion-content>
