<ion-header class="ion-no-border">
  <ion-toolbar color="none">
    <ion-buttons slot="end">
      <ion-button id="open-modal">Edit</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 

  <h1 class="text-center mb-2">Journey</h1>
  <h5 class="text-center ml-5 mr-5 mb-10">
    View how many days you have practiced self-care here. Practice daily to progress and earn rewards.
  </h5>


  <h5 class="text-lg text-center font-bold">
    How Far I have Come
  </h5>

  <ion-grid >
    <ion-row>
      <ion-col class="text-center m-2">
        <div class="box pt-4">
          <strong>{{ data.day_streak || 0 }}</strong><br>Day{{ data.day_streak != 1 ? 's' : ''}} Practiced
        </div>
      </ion-col>
      <ion-col class="text-center m-2">
        <div class="box pt-4">
          <strong>{{ data.total_routines || 0 }}</strong><br>Routine{{ data.total_routines != 1 ? 's' : ''}} Completed
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <h5 class="text-lg text-center font-bold text-primary-default mb-2 mt-12">
    My Self-Care Routine
  </h5>

  <p class="text-center mb-6">
    One reminder is set...
  </p>

  <h5 class="text-lg text-center font-bold text-primary-default mb-2 mt-12">
    My Self-Care Goal
  </h5>

  <p class="text-center mb-6">
    I would like to achieve...
  </p>

</ion-content>