<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Journey</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-text color="#342D2B">
    <p>
      View how many days you have practiced self-care here. Practice daily to progress and earn rewards.
    </p>
  </ion-text>

  <p class="text-lg font-bold">
    How Far I have Come
  </p>

  <ion-grid>
    <ion-row>
      <ion-col>
        9<br>Days Practiced
      </ion-col>
      <ion-col>
        138<br>Routines Completed
      </ion-col>
    </ion-row>
  </ion-grid>

  <hr/>

  <p class="text-lg font-bold text-primary-default">
    My Self-Care Routine
  </p>

  <p>
    One reminder is set...
  </p>

  <p class="text-lg font-bold text-primary-default">
    My Self-Care Goal
  </p>

  <p>
    I would like to achieve...
  </p>

  <h2 (click)="goToMiniMe()" class="text-primary-default text-center">Go to Mini Me Page</h2>
</ion-content>
