<ion-header class="ion-no-border">
  <ion-toolbar color="none">
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1 class="text-center mb-2">H1 Headline</h1>
  <h5 class="text-center ml-5 mr-5 mb-10">H5 text</h5>
  <ion-img class="ml-7 mr-7 mb-10" src="./assets/img/careme-sample.png"></ion-img>

  <h1>H1 Bold 29px</h1>
  <h2>H2 Regular 24px</h2>
  <h3>H3 Regular 20px</h3>
  <h4>H4 Semibold 17px</h4>
  <h5>H5 Regular 14px</h5>
  <p>Body Copy 12px</p>
  <p class="caption">Body Copy 10px</p>
</ion-content>