

<ion-content>
  <ion-grid style="height: 100%;">
    <ion-row style="background-color: white; height: 20%;">
      <ion-col><h1 class="text-center">Your Mini Me is Ready</h1>
        <ion-row style="height: 16px"></ion-row>
        <h3 class="text-center ml-4 mr-4">You look great!</h3></ion-col>
    </ion-row>
    <ion-row style="background-color: rgb(241, 241, 241); height: 60%;">
      <ion-col><ion-img class="ml-7 mr-7 mb-10" [src]="imgUrl"></ion-img></ion-col>
    </ion-row>
    <ion-row style="background-color: white; height: 5%;">
      <ion-col class="text-center"></ion-col>
    </ion-row>
  
    <ion-row style="background-color: white; height: 15%;">
      <ion-col class="text-center">
        <ion-button width="170px"><h4 style="color: white;">Finish</h4></ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  </ion-content>




<!-- <ion-content>

  <ion-row style="height: 64px"></ion-row>

<ion-content class="center">

  <ion-app>
    <ion-content class="ion-padding">
      <div style="text-align:center">

        <ion-row style="height: 12px"></ion-row>
      <h1>Your Mini Me is ready!</h1>
  

      <ion-row style="background-color: rgb(241, 241, 241); height: 50%;">
        <ion-col><ion-img class="ml-7 mr-7 mb-10" src="./assets/avataaars/justina.svg"></ion-img></ion-col>
      </ion-row>
<ion-row>
  <div class="underline underline-offset-2 text-base">Edit Mini Me</div>
</ion-row>

  <ion-button><span class="underline-offset-2">Continue</span></ion-button></div>

</ion-content> -->
