

<ion-content>
  <ion-grid style="height: 100%;">
    <ion-row style="background-color: white; height: 10%;">
      <ion-col><h1 class="text-center">Set Up Mini Me</h1>
        <ion-row style="height: 16px"></ion-row>
      </ion-col>
    </ion-row>
    <ion-row style="background-color: rgb(241, 241, 241); height: 30%;">
      <ion-col><ion-img class="ml-[15%] mr-[15%]" src="./assets/avataaars/justina.svg"></ion-img></ion-col>
    </ion-row>
    <ion-row style="background-color: white; height: 20%;">
      <ion-col class="text-center"></ion-col>
    </ion-row>

    <ion-row style="background-color: white; height: 10%;" class="ml-4 mr-4">
      <ion-col><ion-icon name="heart-circle-outline" class="h-12 w-12" color="white"></ion-icon></ion-col>
      <ion-col><ion-icon name="heart-circle-outline" class="h-12 w-12"></ion-icon></ion-col>
      <ion-col><ion-icon name="heart-circle-outline" class="h-12 w-12"></ion-icon></ion-col>
      <ion-col><ion-icon name="heart-circle-outline" class="h-12 w-12"></ion-icon></ion-col>
      <ion-col><ion-icon name="heart-circle-outline" class="h-12 w-12"></ion-icon></ion-col>
    </ion-row>
    <ion-row style="background-color: white; height: 10%;" class="ml-4 mr-4">
      <ion-col><ion-icon name="heart-circle-outline" class="h-12 w-12"></ion-icon></ion-col>
      <ion-col><ion-icon name="heart-circle-outline" class="h-12 w-12"></ion-icon></ion-col>
      <ion-col><ion-icon name="heart-circle-outline" class="h-12 w-12"></ion-icon></ion-col>
      <ion-col><ion-icon name="heart-circle-outline" class="h-12 w-12"></ion-icon></ion-col>
      <ion-col><ion-icon name="heart-circle-outline" class="h-12 w-12"></ion-icon></ion-col>
    </ion-row>
    <ion-row style="background-color: white; height: 5%;">
      <ion-col class="text-center"></ion-col>
    </ion-row>
    <ion-row style="background-color: white; height: 15%;">
      <ion-col class="text-center"><ion-button><h4 style="color: white;">Let's do it</h4></ion-button></ion-col>
    </ion-row>
  </ion-grid>
  
  </ion-content>
