.inactive {
    color: #8B8482   
}
.active {
    color: #342D2B   
}

.hair-1 {
    color: #FF0000
}

// SKIN

.skin-1 {
    color: #FD9841;
}

.skin-2 {
    color: #F9D562;
}

.skin-3 {
    color: #FFDBB4;
}

.skin-4 {
    color: #EDB98A
}

.skin-5 {
    color: #D08B5B
}

.skin-6 {
    color: #AE5D29
}

.skin-7 {
    color: #614335
}

.skin-0 {
    color: #ffffff;
}

// HAIR

.hair-1 {
 color: #ECDCBF   
}

.hair-2 {
    color: #D6B370
}

.hair-3 {
    color: #724133  
   }
   
.hair-4 {
    color: #4A312C
   }

.hair-5 {
 color: #E8E1E1  
}

.hair-6 {
    color: #F59797
}

.hair-7 {
    color: #C93305 
   }
   
.hair-8 {
    color: #2C1B18
   }

   // SHIRT COLOR

.shirtcolor-1 {
    color: #FFFFB1
}

.shirtcolor-2 {
    color: #929598
}

.shirtcolor-3 {
    color: #3C4F5C
}

.shirtcolor-4 {
    color: #262E33
}


.shirtcolor-5 {
    color: #A7FFC4
}

.shirtcolor-6 {
    color: #B1E2FF
}

.shirtcolor-7 {
    color: #5199E4
}

.shirtcolor-8 {
    color: #FF5C5C
}


// BACKGROUND COLOR

.background-1 {
    color: #7FC7FA
}

.background-2 {
    color: #EBE397
}

.background-3 {
    color: #E89B99
}

.background-4 {
    color: #C25486
}

.background-5 {
    color: #8B4FCB
}

.background-6 {
    color: #E1564F
}

.background-7 {
    color: #73CFA5
}

.background-8 {
    color: #E0AC67
}