.inactive {
    color: #8b8482;
}
.active {
    color: #342d2b;
}

.hair-1 {
    color: #ff0000;
}

.active-color {
    -webkit-box-shadow: inset 0px 0px 0px 7px #342d2b;
    -moz-box-shadow: inset 0px 0px 0px 7px #342d2b;
    box-shadow: inset 0px 0px 0px 7px #342d2b;
    border-radius: 35px;
}

.active-item {
    border:#000 5px solid;
    border-radius: 5px;
}

// SKIN

.skin-1 {
    color: #ef9d53;
}

.skin-2 {
    color: #f9d562;
}

.skin-3 {
    color: #ffdbb4;
}

.skin-4 {
    color: #edb98a;
}

.skin-5 {
    color: #d08b5b;
}

.skin-6 {
    color: #ae5d29;
}

.skin-7 {
    color: #614335;
}

.skin-0 {
    color: #ffffff;
}

// HAIR

.hair-1 {
    color: #ecdcbf;
}

.hair-2 {
    color: #d6b370;
}

.hair-3 {
    color: #724133;
}

.hair-4 {
    color: #4a312c;
}

.hair-5 {
    color: #e8e1e1;
}

.hair-6 {
    color: #f59797;
}

.hair-7 {
    color: #c93305;
}

.hair-8 {
    color: #2c1b18;
}

// SHIRT COLOR

.shirtcolor-1 {
    color: #ffffb1;
}

.shirtcolor-2 {
    color: #929598;
}

.shirtcolor-3 {
    color: #3c4f5c;
}

.shirtcolor-4 {
    color: #262e33;
}

.shirtcolor-5 {
    color: #a7ffc4;
}

.shirtcolor-6 {
    color: #b1e2ff;
}

.shirtcolor-7 {
    color: #5199e4;
}

.shirtcolor-8 {
    color: #ff5c5c;
}

// BACKGROUND COLOR

.background-1 {
    color: #7fc7fa;
}

.background-2 {
    color: #ebe397;
}

.background-3 {
    color: #e89b99;
}

.background-4 {
    color: #c25486;
}

.background-5 {
    color: #8b4fcb;
}

.background-6 {
    color: #e1564f;
}

.background-7 {
    color: #73cfa5;
}

.background-8 {
    color: #e0ac67;
}
