.inactive {
    color: #8B8482   
}
.active {
    color: #342D2B   
}

.hair-1 {
    color: #FF0000
}

// SKIN

.skin-1 {
    color: #FD9841;
}

.skin-2 {
    color: #F9D562;
}

.skin-3 {
    color: #FFDBB4;
}

.skin-4 {
    color: #EDB98A
}

.skin-5 {
    color: #D08B5B
}

.skin-6 {
    color: #AE5D29
}

.skin-7 {
    color: #614335
}

.skin-0 {
    color: #ffffff;
}