<ion-header class="ion-no-border">
  <ion-toolbar color="none">
    <ion-buttons slot="start">
      <ion-button *ngIf="currentIndex && currentIndex > 0"
        class="animate__animated animate__fadeInRight animate__faster text-primary-default" (click)="slidePrev()"><ion-icon
          name="chevron-back-outline"></ion-icon> Back</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button *ngIf="currentIndex && currentIndex == 1"
        class="animate__animated animate__fadeInRight animate__faster text-primary-default" (click)="slideNext()"> Continue <ion-icon
          name="chevron-forward-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content scroll-y="false">
  <swiper #swiper [config]="config">

    <ng-template swiperSlide>
      <app-mini-me-setup (nextSlide)="slideNext()"></app-mini-me-setup>
    </ng-template>

    <ng-template swiperSlide>
      <app-mini-me-builder (nextSlide)="slideNext()"></app-mini-me-builder>
    </ng-template>

    <ng-template swiperSlide>
      <app-mini-me-confirm></app-mini-me-confirm>
    </ng-template>

  </swiper>

</ion-content>
